<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= number_to_currency(product.price.to_f/100) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= product.currency %>
  </p>
  <% if product.stripe_product_id %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Stripe product id:</strong>
      <%= product.stripe_product_id %>
    </p>
  <% end %>
  <% if product.stripe_price_id %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Stripe price id:</strong>
      <%= product.stripe_price_id %>
    </p>
  <% end %>
    <p class="my-5">
    <strong class="block font-medium mb-1">Sales count:</strong>
    <%= product.sales_count %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this product", edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Payment", checkout_create_path, params:{ id: product.id },
    data: { disable_with: "validating .."},
    # remote:true, 
    # method: :post,
    # data: { controller: "checkout", action: "turbo:click->checkout#stripeCheckout" },
    # data: {turbo: false},
    #remote: true,
    #data: {turbo_method: :post},
    # remote: true, data: {turbo: false}
    class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
