<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_product_path,
    class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="products" class="min-w-full">
    <%= render @products %>
  </div>

  <hr>
  <% if params[:session_id].present? %>
    <%= params[:session_id]%>
    <% @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
    <%= @session.payment_intent %>
    <hr>
    <hr>
    <br><br>
    <%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>
    <br><br><br>

    <hr>
    <hr>
    <% @session_with_expand = Stripe::Checkout::Session.retrieve({
      id: params[:session_id], expand: ['payment_intent', 'line_items']
      }) %>

      <%= @session_with_expand.line_items.data %>
        <hr>
    <hr>
    <% @session_with_expand.line_items.data.each do |line_item| %>
      line_item: <%= line_item %><br>
      description:  <%= line_item.description %><br>
      price_id: <%= line_item.price.id %><br>
      price_product: <%= line_item.price.product %><br>

    <% end %>
  <% end %>
 

  <br><br><br>
</div>
